* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding: 10rem;
    height: 100%;
}

@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 0.5s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Josefin Sans", sans-serif;
    color: #00032A;
    text-wrap: balance;
}

p {
    font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

h1 {
    letter-spacing: 2px;
    font-size: clamp(2.1rem, 2.9vw, 3.1rem);
    text-align: center;
}

.btn-link {
    color: #00032A;
}


#offer {
    background-color: #00032A;
    color: #f6eeec;
    text-align: center;
    font-size: max(0.9rem, 0.9vw);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    padding: 8px;
}

header {
    width: 100%;
    position: absolute;
    z-index: 6;
    color: #00032A;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.bx-user {
    color: #00032A;
}

.nav-child a {
    color: #00032A;
    padding: 8px;
    font-family: "Josefin Sans", sans-serif;
    cursor: pointer;
}

.nav-child a:hover {
    color: #f6eeec;
}

.nav-child i {
    color: #00032A;
    padding: 8px;
    font-size: 2rem;
    margin-left: 1rem;
    text-align: right;
}

i:hover {
    color: #f6eeec;
    cursor: pointer;
}

#overlay {
    display: none;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: rgba(0, 3, 42, 0.7);
    z-index: 10;
}

.icon-container {
    text-align: right;
}

.cart-number-container  {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: #00032A;
    color: #f6eeec;
    padding: 8px;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4rem;
    display: block;
    font-weight: 600;
    color: #f6eeec;
    text-decoration: none;
    padding: 0.7rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.overlay-text a:hover {
    color: #00032A;
    cursor: pointer;
}

.bx-x {
    font-size: 3rem;
    color: #f6eeec;
    padding: 1rem;
}

.bx-x:hover {
    animation: rotate 200ms ease-in-out;
}

.fade-in {
    animation: fade-in 200ms ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}


/* -------------------------- HERO ------------------------------------ */


#hero {
    display: flex;
    flex-direction: row;
}

.hero-container {
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 5;
}

h1 {
    font-size: clamp(3.5rem, 0.643rem + 7.619vw, 7.5rem);
    text-align: left;
    text-transform: uppercase;
    background-clip: text;
}

h2 {
    font-weight: 400;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.hero-h2-span {
    font-style: italic;
    overflow: clip;
    animation: appear ease-in 700ms;
    font-weight: 700;
}

.hero-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 2px solid #00032A;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
}

.hero-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.hero-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}




/* -------------------------- BEST SELLERS ------------------------------------ */

#best-sellers {
    margin-top: 48px;
    margin-bottom: 48px;
}

h3 {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 48px;
    font-weight: 400;
    font-size: 30px;
}

.best-sellers-card-grid-wrapper,
.lighter-card-grid-wrapper,
.heavier-card-grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 12px;
    justify-content: center;
}

.card {
    margin-bottom: 24px;
    cursor: pointer;
}

.card-subgrid {
    display: grid;
    grid-template-rows: subgrid;
}

.card-img-container {
    overflow: hidden;
}

.card-img-container img:hover {
    transform: scale(1.2);
}

.image {
    transition: all 0.3s;
}

.price-span {
    font-size: 1.4rem;
}

.card-name {
    padding-top: 16px;
    padding-bottom: 16px;
}

.card-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 2px solid #00032A;
    border-radius: 5px;
    margin-top: 16px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
}

.card-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.card-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#fuck {
    display: none;
    width: 100%;
    position: fixed;
    height: 100%;
    background-color: rgba(0, 3, 42, 0.7);
    z-index: 10;
}

/* .overlay-text   {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4rem;
    display: block;
    font-weight: 600;
    color: #f6eeec;
    text-decoration: none;
    padding: 0.7rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
} */


/* -------------------------- FEATURES GLOBALS ------------------------------------ */


.features-col {
    width: 50vw;
}

.features-col-text {
    margin: 60px 24px;
}

.f-col-img {
    padding: 0 24px;
}

.f-h4 {
    padding-top: 12px;
    padding-left: 60px;
    font-size: clamp(0.7rem, 8.9vw, 1.7rem);
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5
    }

    to {
        opacity: 1;
        scale: 1
    }
}

.f-h4-span {
    font-style: italic;
    overflow: clip;
    animation: appear linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.f-p {
    line-height: 1.25;
    font-size: max(1.2rem, 1.2vw);
    padding: 40px 60px;
}

.f-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 2px solid #00032A;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
    margin-left: 60px;
}

.f-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.f-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* -------------------------- FEATURES ------------------------------------ */


#main-learn,
#main-shop {
    display: flex;
    flex-direction: row;
    height: 60vh;
    background-color: #f6eeec;
}


/* -------------------------- SPACER ------------------------------------ */


#main-spacer {
    height: 220px;
    background-color: #00032A;
}


/* -------------------------- ABOUT US ------------------------------------ */

#main-about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.about-h3 {
    padding-top: 64px;
    padding-bottom: 0;
    font-size: clamp(1rem, 9vw, 2rem);
}

.about-p {
    line-height: 1.25;
    font-size: max(1.2rem, 1.2vw);
    padding: 40px 60px;
}

.about-img {
    padding-top: 40px;
}




/* -------------------------- EMAIL SIGN-UP ------------------------------------ */


#main-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    background-color: #00032A;
    padding-left: 24px;
    padding-right: 24px;

}

.email-h4 {
    color: #f6eeec;
}

.email-p {
    font-size: max(1rem, 1vw);
    color: #f6eeec;
}

#email-input {
    height: 40px;
    border-radius: 5px;
    width: 280px;
    font-family: "Josefin Sans", sans-serif;
    padding: 8px;
    border: 2px solid #f6eeec;
}

.email-btn {
    background-color: transparent;
    height: 40px;
    width: 100px;
    border: 2px solid #f6eeec;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
    background-color: #f6eeec;
}

.email-btn:hover {
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}


/* -------------------------- PREVIEW ------------------------------------ */



.preview {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding: 40px;
}

.preview-h2 {
    font-size: 2rem;
    padding-top: 16px;
}

.preview-h1 {
    font-size: 3rem;
}

.preview-img {
    height: 400px;
}

/* -------------------------- ADDED TO CART MODAL ------------------------------------ */

.cart-container {
    /* display: flex;
    flex-direction: row;
    margin-left: 20px; */
    padding: 10px;
    height: 40px;
    cursor: pointer;
    border: 3px solid red;
    position: relative;
}

.bx-cart    {
    font-size: 36px;
    color:#00032A;
}

.bx-x   {
    font-size: 36px;
    color:#00032A;
    z-index: 99;
}

.modal  {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    width: 80%;
    min-height: 50%;
    min-width: 80%;
    max-width: 700px;
    overflow-y: auto;
    background-color: #fff;
    position: relative;
    padding: 5px;
    border-radius: 5px;
}

.modal-content h2 {
    text-align: center;
    font-size: 26px;
    margin: 20px auto;
    text-transform: uppercase;
}

.modal-content span {
    position: absolute;
    top: 2%;
    left: 93%;
}

.modal-content span:hover {
    cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}

div.item-container {
    position: relative;
    margin-bottom: 5px;
}

div.item-container button {
    position: absolute;
    top: 0;
    left: 95%;
}

#cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#checkout {
    background-color: transparent;
    height: 60px;
    width: 200px;
    border: 1px solid #00032A;
    border-radius: 5px;
    margin: 16px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
}

#checkout:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

#checkout:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.checkout-message {
    text-align: center;
    text-transform: uppercase;
    background-color: #00032A;
    color: #f6eeec;
    width: 80%;
    border-radius: 5px;
    margin: 0 auto;
    padding: 2px
}

#item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px;
    position: relative;
    border-bottom: 1px solid #00032A;
    /* border: 1px solid hotpink; */
}

.button-quantity-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    border: 1px solid #00032A;
    border-radius: 5px;

}

.cart-quantity-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    place-items: center;
    border: 1px solid hotpink;
}

.cart-quantity  {
    font-size: 32px;
}

.cart-title h3 {
    font-size: 32px;
    padding: 24px;
}

.cart-price, #item-total {
    font-size: 32px;
}

.plus, .minus {
    color: #00032A;
    background-color: #f6eeec;
    border: 1px solid #00032A;
    width: 35px;
    height: 35px;
    border-radius: 3px;
    padding: 3px;
    font-size: 24px;
    margin: 8px;
    cursor: pointer;
}


.bx-trash   {
    font-size: 28px;
    padding: 24px;
}

#item-total {
    text-align: center;
}

.hide {
    display: none;
}

#hide {
    display: none;
}



/* -------------------------- LOGIN PAGE ------------------------------------ */


.acct-login {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 40px;
}

.login-h2 {
    font-size: 2rem;
    padding-top: 16px;
    text-align: center;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    margin-right: 48px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.form-label {
    font-family: "Josefin Sans", sans-serif;
    color: #00032A;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.3rem;
}

.text-input {
    height: 40px;
    border: 1px solid #00032A;
    border-radius: 5px;
    padding: 8px;
}


.login-img {
    width: 300px;
    padding: 12px;
}


.login-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 1px solid #00032A;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
    /* margin-left: 60px; */
}

.login-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.login-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.login-questions {
    padding-top: 16px;
    margin-bottom: 12px;
}

/* -------------------------- FOOTER ------------------------------------ */


footer {
    height: 100px;
    background-color: #f6eeec;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-link {
    color: #00032A;
    padding: 8px;
}

.social-icon {
    padding: 8px;
}



/* -------------------------- CART PAGE ------------------------------------ */

.total-title {
    padding-top: 10px;
}

.total {
    font-size: 1.8rem;
}

.cart-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 2px solid #00032A;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
}

.cart-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.cart-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}






@media (max-width: 575.98px) {}



@media (max-width: 767.98px) {

    .btn-link {
        color: #00032A;
    }

    .nav-child a {
        display: none;
    }

    #hero {
        display: flex;
        flex-direction: column;
    }

    .hero-text {
        top: 12%;
    }

    .hero-btn {
        margin-top: 20px;
        width: 100px;
    }

    .features-col {
        width: 100vw;
    }

    .features-col-text {
        margin: 24px;
    }

    .f-col-img {
        padding-left: 12px;
        padding-right: 12px;
    }


    #main-learn {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }

    #main-shop {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 100vh;
    }

    #main-spacer {
        height: 180px;
    }

    .about-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }

    .about-h3 {
        padding-left: 12px;
        padding-right: 12px;
    }

    #main-email {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 24px;
    }

    #email-input {
        margin-bottom: 8px;
    }

    footer {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #login {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .modal-content  {
        width: 90%;
        height: 90vh;
    }

    #item-container  {
        display: flex;
        flex-direction: column;
    }

    .cart-quantity-container    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .button-quantity-container  {
        margin: 16px;
    }


}

@media (min-width: 768px) {
    .nav-child i {
        display: none;
    }
}