* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-padding: 10rem;
    height: 100%;
}

@view-transition {
    navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 0.5s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Josefin Sans", sans-serif;
    color: #00032A;
    text-wrap: balance;
}

p {
    font-family: "Playfair Display", serif;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

h1 {
    letter-spacing: 2px;
    font-size: clamp(2.1rem, 2.9vw, 3.1rem);
    text-align: center;
}

.shipping-offer {
    text-align: center;
    background-color: #00032A;
    color: #f6eeec;
    font-family: "Josefin Sans", sans-serif;
    height: 44px;
    place-content: center;
    font-size: 1.2rem;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f6eeec;
    color: #00032A;
    font-family: "Josefin Sans", sans-serif;
    height: 72px;
    font-size: 1.3rem;
    z-index: 6;
}

nav a {
    color: #00032A;
    padding: 8px;
    &:hover {
        color: pink;
    }
}

#cart-icon  {
    display: inline-block;
    padding-right: 16px;
    font-size: 1.85rem;
    cursor: pointer;
}

#cart-icon .cart-item-count {
    position: absolute;
    top: 8%;
    right: 8px;
    width: 20px;
    height: 20px;
    font-size: 0.75rem;
    background-color: pink;
    color: #00032A;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
}

#burger-menu-icon   {
    display: inline-block;
    padding-right: 16px;
}

.mobile-menu {
    display: none;
    width: 100%;
    position: fixed;
    top: 0%;
    height: 100%;
    background-color: rgba(0, 3, 42, 0.7);
    z-index: 10;
}

.mobile-menu-links  {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mobile-menu a  {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.4rem;
    display: block;
    font-weight: 600;
    color: #f6eeec;
    text-decoration: none;
    padding: 0.7rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;

    &:hover {
        color: #00032A;
        cursor: pointer;
    }
}

.mobile-menu-close  {
    padding: 16px;
    font-size: 1.75rem;
    color: #f6eeec;
    position: absolute;
    right: 3%;
}

.fade-in {
    animation: fade-in 300ms ease-in-out;
}

.fade-out   {
    animation: fade-out 300ms ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    100% {
        opacity: 100%;
    }

    0% {
        opacity: 0%;
    }
}

/* ------------------------------ CART ---------------------------- */

.cart   {
    position: fixed;
    top: 0;
    right: -100%;  
    /* right: 0; */
    width: 360px;
    height: 100%;
    background-color: #f6eeec;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 85px 20px 40px;
    z-index: 1090;
    overflow: auto;
    transition: 0.5s;
}

.cart.active    {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.4rem;
}

.cart-box   {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cart-box img   {
    width: 100px;
    height: 120px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-details   {
    display: grid;
    gap: 8;
    margin-right: auto;
}

.cart-product-title {
    font-size: 1rem;
    line-height: 1;
}

.cart-price {
    font-weight: 500;
    padding-top: 8px;
    font-family: "Playfair Display", serif;
}

.cart-quantity  {
    display: flex;
    width: 100px;
    border: 1px solid #00032A;
    border-radius: 5px;
    margin-top: 8px;
}

.cart-quantity button   {
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-quantity #decrement   {
    color: #00032A;
}

.cart-quantity .number  {
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #00032A;
    border-right: 1px solid #00032A;
    cursor: default;
    font-size: 20px;
}

.cart-quantity #increment   {
    color: #00032A;
}

.cart-remove    {
    font-size: 25px;
    cursor: pointer;
    padding-top: 8px;
}

.total  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #00032A;
    margin-top: 20px;
    font-size: 1rem;
    padding-top: 8px;
    font-family: "Playfair Display", serif;
}

.total-price    {
    margin-left: 10px;
    font-weight: 600;
}

.btn-buy    {
    display: block;
    background-color: #00032A;
    color: whitesmoke;
    height: 30px;
    width: 110px;
    border: 1px solid #00032A;
    border-radius: 5px;
    margin: 20px auto 0;
    padding: 0.1rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
}

.btn-buy:hover  {
    box-shadow: rgba(0, 0, 0, 0.2) 2px 8px 8px -5px;
    transform: translate3d(0, 1px, 0);
    cursor: pointer;
}

#cart-close {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}






/* -------------------------- HERO ------------------------------------ */


#hero {
    display: flex;
    flex-direction: row;
}

.hero-container {
    position: relative;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 5;
}

h1 {
    font-size: clamp(3.5rem, 0.643rem + 7.619vw, 7.5rem);
    text-align: left;
    text-transform: uppercase;
    background-clip: text;
}

h2 {
    font-weight: 400;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.hero-h2-span {
    font-style: italic;
    overflow: clip;
    animation: appear ease-in 700ms;
    font-weight: 700;
}

.hero-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 1px solid #00032A;
    border-radius: 5px;
    margin-top: 20px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
}

.hero-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.hero-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}




/* -------------------------- BEST SELLERS ------------------------------------ */

#best-sellers {
    margin-top: 48px;
    margin-bottom: 48px;
}

h3 {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 48px;
    font-weight: 400;
    font-size: 30px;
}

.best-sellers-card-grid-wrapper,
.lighter-card-grid-wrapper,
.heavier-card-grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 12px;
    justify-content: center;
}

.card {
    margin-bottom: 24px;
    cursor: pointer;
}

.card-subgrid {
    display: grid;
    grid-template-rows: subgrid;
}

.card-img-container {
    overflow: hidden;
}

.card-img-container img:hover {
    transform: scale(1.2);
}

.image {
    transition: all 0.3s;
}

.price-span {
    font-size: 1.4rem;
}

.card-name {
    padding-top: 16px;
    padding-bottom: 16px;
}

.card-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 1px solid #00032A;
    border-radius: 5px;
    margin-top: 16px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
}

.card-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.card-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}




/* -------------------------- FEATURES GLOBALS ------------------------------------ */


.features-col {
    width: 50vw;
}

.features-col-text {
    margin: 60px 24px;
}

.f-col-img {
    padding: 0 24px;
}

.f-h4 {
    padding-top: 12px;
    padding-left: 60px;
    font-size: clamp(0.7rem, 8.9vw, 1.7rem);
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5
    }

    to {
        opacity: 1;
        scale: 1
    }
}

.f-h4-span {
    font-style: italic;
    overflow: clip;
    animation: appear linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.f-p {
    line-height: 1.25;
    font-size: max(1.2rem, 1.2vw);
    padding: 40px 60px;
}

.f-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 1px solid #00032A;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
    margin-left: 60px;
}

.f-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.f-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* -------------------------- FEATURES ------------------------------------ */


#main-learn,
#main-shop {
    display: flex;
    flex-direction: row;
    height: 60vh;
    background-color: #f6eeec;
}


/* -------------------------- SPACER ------------------------------------ */


#main-spacer {
    height: 220px;
    background-color: #00032A;
}


/* -------------------------- ABOUT US ------------------------------------ */

#main-about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.about-h3 {
    padding-top: 64px;
    padding-bottom: 0;
    font-size: clamp(1rem, 9vw, 2rem);
}

.about-p {
    line-height: 1.25;
    font-size: max(1.2rem, 1.2vw);
    padding: 40px 60px;
}

.about-img {
    padding-top: 40px;
}




/* -------------------------- EMAIL SIGN-UP ------------------------------------ */


#main-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 220px;
    background-color: #00032A;
    padding-left: 24px;
    padding-right: 24px;

}

.email-h4 {
    color: #f6eeec;
}

.email-p {
    font-size: max(1rem, 1vw);
    color: #f6eeec;
}

#email-input {
    height: 40px;
    border-radius: 5px;
    width: 280px;
    font-family: "Josefin Sans", sans-serif;
    padding: 8px;
    border: 2px solid #f6eeec;
}

.email-btn {
    background-color: transparent;
    height: 40px;
    width: 100px;
    border: 1px solid #f6eeec;
    border-radius: 5px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
    background-color: #f6eeec;
}

.email-btn:hover {
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}


/* -------------------------- PREVIEW ------------------------------------ */



.preview {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    padding: 40px;
}

.preview-h2 {
    font-size: 2rem;
    padding-top: 16px;
}

.preview-h1 {
    font-size: 3rem;
}

.preview-img {
    height: 400px;
}



/* -------------------------- LOGIN PAGE ------------------------------------ */


.acct-login {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 40px;
}

.login-h2 {
    font-size: 2rem;
    padding-top: 16px;
    text-align: center;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    margin-right: 48px;
}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.form-label {
    font-family: "Josefin Sans", sans-serif;
    color: #00032A;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.3rem;
}

.text-input {
    height: 40px;
    border: 1px solid #00032A;
    border-radius: 5px;
    padding: 8px;
}


.login-img {
    width: 300px;
    padding: 12px;
}


.login-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 1px solid #00032A;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
    /* margin-left: 60px; */
}

.login-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.login-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.login-questions {
    padding-top: 16px;
    margin-bottom: 12px;
}

/* -------------------------- FOOTER ------------------------------------ */


footer {
    height: 100px;
    background-color: #f6eeec;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer-link {
    color: #00032A;
    padding: 8px;
}

.social-icon {
    padding: 8px;
}



/* -------------------------- CART PAGE ------------------------------------ */

.total-title {
    padding-top: 10px;
}

.total {
    font-size: 1.8rem;
}

.cart-btn {
    background-color: transparent;
    height: 40px;
    width: 120px;
    border: 1px solid #00032A;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0.5rem;
    font-weight: bold;
    font-size: smaller;
    color: #00032A;
    text-transform: uppercase;
    transition: all 0.3s;
}

.cart-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    cursor: pointer;
}

.cart-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}


/* -------------------------- MEDIA QUERIES ------------------------------------ */


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) {
    main    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    nav a {
        display: none;
    }
    #cart-icon  {
        position: absolute;
        left: 5%;
    }
    .hero-imgs  {
        display: flex;
        flex-direction: column;
    }
    .hero-img-1, .hero-img-2    {
    width: 100%;
    height: 50vh;
    }
    
    .cart   {
        width: 100%;
    }
}

@media (max-width: 575.98px) {}



@media (max-width: 767.98px) {

    .btn-link {
        color: #00032A;
    }

    .nav-child a {
        display: none;
    }

    #hero {
        display: flex;
        flex-direction: column;
    }

    .hero-text {
        top: 12%;
    }

    .hero-btn {
        margin-top: 20px;
        width: 100px;
    }

    .features-col {
        width: 100vw;
    }

    .features-col-text {
        margin: 24px;
    }

    .f-col-img {
        padding-left: 12px;
        padding-right: 12px;
    }


    #main-learn {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }

    #main-shop {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        height: 100vh;
    }

    #main-spacer {
        height: 180px;
    }

    .about-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100vh;
    }

    .about-h3 {
        padding-left: 12px;
        padding-right: 12px;
    }

    #main-email {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 24px;
    }

    #email-input {
        margin-bottom: 8px;
    }

    footer {
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #login {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .modal-content  {
        width: 90%;
        height: 90vh;
    }

    #item-container  {
        display: flex;
        flex-direction: column;
    }

    .cart-quantity-container    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .button-quantity-container  {
        margin: 16px;
    }


}

@media (min-width: 768px) {
    #burger-menu-icon {
        display: none;
    }
}