.shop-h2    {
    text-align: center;
    padding: 24px;
}

.product-grid-wrapper  {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    justify-content: center;
    padding: 36px 16px;
}

.product    {
    padding: 12px;
}

.product-title  {
    padding: 12px 12px 12px 0;
}

.product .img-box   {
    display: flex;
    /* border-radius: 6px; */
    overflow: hidden;
}

.img-box .product-image    {
    height: 420px;
    width: 100%;
    transition: 0.5s;
    cursor: pointer;
}

.shop-btn    {
    display: block;
    background-color: #00032A;
    color: whitesmoke;
    height: 30px;
    width: 110px;
    border: 1px solid #00032A;
    border-radius: 5px;
    /* margin: 20px auto 0; */
    margin-top: 16px;
    padding: 0.1rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
}

.shop-btn:hover  {
    box-shadow: rgba(0, 0, 0, 0.2) 2px 8px 8px -5px;
    transform: translate3d(0, 1px, 0);
    cursor: pointer;
}