.learn-img    {
    height: 400px;
    padding: 24px;
}

.learn-h2 {
    padding-top: 48px;
    padding-left: 24px;
    padding-bottom: 48px;
    font-weight: 300;
}

.learn-h1 {
    padding: 24px;
    font-size: 1.75rem;
}