.about-img    {
    height: 400px;
    padding: 24px;
}

.about-h2 {
    padding-top: 48px;
    padding-left: 24px;
    padding-bottom: 48px;
    font-weight: 300;
}

.about-h1 {
    padding: 24px;
    font-size: 1.75rem;
}

.about-pg-p {
    padding: 48px;
    font-weight: 300;
    font-size: 1.25;
}